.assets {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
}

.border-dashed {
  border: 2px dashed #c9c9ff !important;
}
.text-purple {
  color: #a06cff;
}

.divider {
  height: 40px;
}

.text-purple {
  color: #9b59b6; 
}