<div class="container-fluid mt-3">
  <div class="row">
    <!-- Section 1 -->
    <div class="col-12 col-md-4 mb-3">
     <app-description></app-description>
    </div>


    <!-- Section 2 -->
    <div class="col-12 col-md-8 mb-3">
      <div class="card">
        <div class="card-body">
          <app-diagram-section></app-diagram-section>
          <app-risk-summary></app-risk-summary>
        </div>
      </div>
    </div>
  </div>
  <app-remediation-technique-section></app-remediation-technique-section>
</div>